
.buttonSubmit {
    color: #f2f2f2;
    background-color:#333!important;
    height: 50px;
    width: 100px;
    margin: 8px 0 8px 0;
    font-weight: bold;
}

.datePicker {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.radioButton {
  margin-left: 150px;
  margin-right: 20px;
}

.mx-4 {
  background-color:  #ccebff !important;
}