input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }

.buttonSubmit {
    color: #f2f2f2;
    background-color:#333!important;
    height: 50px;
    width: 100px;
    margin: 8px 0 8px 0;
    font-weight: bold;
};

.label1 {
    padding-left: 80px !important;
}

.proba{
    background-color: lightblue;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}